<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <hgroup>
        <p>No results were found please check and try again.</p>
    </hgroup>
</body>
</html>
